#page {
  font-family: sans-serif;
  background-color: rgb(217, 218, 216);
  border: 1px solid gray;
  border-radius: 10px;
  margin: 1%;
  margin-left: 20%;
  margin-right: 20%;

  display: grid;
  height: 100%;
  /* overflow: auto; */
  justify-content: space-evenly;
  grid-template-columns: 10%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "score score score"
    "computerStrike computerStrike computerStrike"
    "callback callback callback"
    "b1 b2 b3";
}
.header {
  grid-area: header;
  text-align: center;
  font-size: 40px;
}
.score {
  grid-area: score;
  font-size: 10%;
  text-align: center;
}
.computerStrike {
  grid-area: computerStrike;
  font-size: 30px;
  text-align: center;
}

.callback {
  grid-area: callback;
  font-size: 20px;
  text-align: center;
}

#btnOne {
  grid-area: b1;
  font-size: 15px;
  border-radius: 10px;
}
#btnTwo {
  font-size: 15px;
  grid-area: b2;
  border-radius: 10px;
}
#btnThree {
  font-size: 15px;
  grid-area: b3;
  border-radius: 10px;
}
#resultBoard {
  grid-area: resultBoard;
}
img {
  width: 50%;
  height: auto;
}

/* Use Media Query to add a breakpoint at 800px: */
@media screen and (max-width: 400px) {
  #btnOne {
    grid-area: b1;
    font-size: 15px;
    border-radius: 1px;
    width: 20%;
  }
  #btnTwo {
    font-size: 15px;
    grid-area: b2;
    border-radius: 1px;
    width: 20%;
  }
  #btnThree {
    font-size: 15px;
    grid-area: b3;
    border-radius: 1px;
    width: 20%;
  }
  img {
    height: auto;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #btnOne {
    grid-area: b1;
    font-size: 15px;
    border-radius: 1px;
    width: 20%;
  }
  #btnTwo {
    font-size: 15px;
    grid-area: b2;
    border-radius: 1px;
    width: 20%;
  }
  #btnThree {
    font-size: 15px;
    grid-area: b3;
    border-radius: 1px;
    width: 20%;
  }
  img {
    height: auto;
    width: 100%;
  }
}
